:root {
    --primary-color: #FEFBF6;
    --second-color: #cbdbec;
    --third-color: #00ABB3;
    --fourth-color: #B2B2B2;
    --fifth-color: #3C4048;
}

@font-face {
    font-family: Kanit;
    src: url("./fonts/Kanit-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--fifth-color);
    font-family: Kanit, Helvetica, sans-serif;
    overflow-x: hidden;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    color: var(--primary-color);
}

header li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header a:link {
    text-decoration: none;
    color: var(--primary-color);
}

header a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

header a:hover {
    text-decoration: none;
    color: var(--second-color);
}

header a:active {
    text-decoration: none;
    color: var(--primary-color);
}

.hide {
    transform: translateX(-400%);
    transition: transform 1s ease;
}

.hide.show {
    transform: translateX(0);
}

.intro, .description, .skills, .projects, .contact, .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    height: 90vh;
    color: var(--second-color);
    font-size: 60px;
}

.intro #logo {
    margin-bottom: -20px;
    font-size: 180px;
    font-weight: 700;
    color: var(--third-color);
}

.description {
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--second-color);
    font-size: 18px;
}

.description .desc-title {
    font-size: 25px;
    color: var(--third-color);
    padding-bottom: 10px;
}

.experience {
    height: 100vh;
    font-size: 24px;
    color: var(--primary-color);
    margin-left: 10%;
    margin-right: 10%;
}

.experience .initial-text {
    margin-bottom: 20px;
    color: var(--third-color);
}

.experience li {
    list-style: none;
}

.experience .job {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.experience .job-info {
    flex: 1;
    color: var(--second-color);
}

.experience .role-info {
    flex: 2;
}

.experience .role-info p {
    margin-bottom: 10px;
}

.experience .job .role-info {
    font-size: 18px;
}

.experience .job.pecb {
    padding-bottom: 20px;
    border-bottom: 4px solid;
    border-color: var(--third-color);
}

.skills {
    height: 100vh;
}

.skills p {
    color: var(--third-color);
    font-size: 25px;
    padding-bottom: 20px;
}

.skills .figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills img {
    width: 15vw;
    height: 15vw;
    min-width: 150px;
    min-height: 150px;
}

.skills figure {
    text-align: center;
    padding: 10px;
}

.skills figcaption {
    color: var(--second-color);
}

.figures .exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.figures .exp .index {
    font-size: 15px;
    padding-left: 2px;
    padding-bottom: 0;
}

.projects {
    height: 100vh;
}

.projects p {
    font-size: 25px;
    color: var(--third-color);
    margin-bottom: 20px;
}

.projects .project-images {
    flex-wrap: wrap;
}

.projects img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.projects img:hover {
    transform: scale(1.2);
    transition: ease 0.2s;
}

.contact {
    height: 100vh;
    color: var(--second-color);
}

.contact p {
    color: var(--third-color);
    font-size: 25px;
}

.contact .lists {
    display: flex;
}

.contact .lists li {
    list-style: none;
}

.contact .images img {
    width: 30px;
    height: 30px;
}

.contact .images {
    padding-right: 10px;
}

.contact .types {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.contact a:link {
    text-decoration: none;
    color: var(--second-color);
}

.contact a:visited {
    text-decoration: none;
    color: var(--second-color);
}

.contact a:hover {
    text-decoration: none;
    color: var(--primary-color);
}
.contact a:active {
    text-decoration: none;
    color: var(--second-color);
}

.contact button {
    margin-top: 10px;
    background-color: var(--third-color);
    color: var(--fifth-color);
    font-family: Kanit;
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contact button:hover {
    color: var(--primary-color);
    transition: ease 0.2s;
}

.contact button:active {
    background-color: var(--primary-color);
    color: var(--fifth-color);
}

.contact button a:link {
    text-decoration: none;
    color: var(--primary-color);
}

.contact button a:visited {
    text-decoration: none;
    color: var(--fifth-color);
}

.contact button a:hover {
    color: var(--primary-color);
    transition: ease 0.2s;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    height: 100vh;
}

.contact-form input {
    width: 300px;
    height: 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.contact-form.remove {
    display: none;
}

.contact-form .first-last input {
    width: 150px;
}

.contact-form .first-last label {
    margin-right: 73px;
}

.contact-form #message {
    height: 90px;
}

.contact-form #submit {
    margin-top: 20px;
    background-color: var(--fourth-color);
}

input[type=submit] {
    color: var(--fifth-color);
    font-size: 16px;
    font-family: Kanit;
}

.contact-form #submit:hover {
    background-color: var(--fifth-color);
    transition: ease 0.2s;
}

input[type=submit]:hover {
    color: var(--primary-color);
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: #505358;
    position: fixed;
    bottom: 70%;
    right: 32px;
    width: 40px;
    height: 210px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    pointer-events: none;
    transition: ease 0.4s;
}

.navigation-bar.active {
    opacity: 1;
    pointer-events: auto;
    bottom: 35%;
}

.navigation-bar a {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--third-color);
}

.navigation-bar a:link {
    text-decoration: none;
    color: var(--primary-color);
}

.navigation-bar a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

.navigation-bar a:hover {
    text-decoration: none;
    color: var(--second-color);
}

.navigation-bar a:active {
    text-decoration: none;
    color: var(--primary-color);
}

@media only screen and (max-width: 600px) {

    .experience .job {
        display: flex;
        flex-direction: column;
    }

    .experience .job-info {
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
    }

    .experience .role-info {
        width: 100%;
    }

    .experience .job .role-info li {
        font-size: 14px;

    }

    .navigation-bar {
        display: flex;
        flex-direction: row;
        background-color: #505358;
        position: fixed;
        bottom: 70%;
        right: 32px;
        width: 40px;
        height: 170px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s;
    }
    
    .navigation-bar.active {
        opacity: 1;
        pointer-events: auto;
        bottom: 10px;
        bottom: 20px;
        right: 32px;
        width: 85%;
        height: 50px;
        border-radius: 40px;
    }
    
    .navigation-bar a {
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--third-color);
        font-size: 22px;
    }
}