:root {
    --primary-color: #FFFFFF;
    --second-color: #D2D7DF;
    --third-color: #BDBBB0;
    --fourth-color: #8A897C;
    --fifth-color: #353535;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fifth-color);
    font-family: Arial, Helvetica, sans-serif;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    color: var(--primary-color);
}

header li {
    list-style: none;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vmin;
    color: var(--second-color);
    font-size: 50px;
}

.intro #logo {
    font-size: 150px;
    font-weight: 700;
    color: var(--third-color);
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vmin;
    color: var(--second-color);
    font-size: 20px;
}

.experience table {
    width: 60%;
    height: 200px;
    text-align: center;
}

.experience th {
    font-size: 30px;
}

.experience td {
    color: var(--third-color);
}

.experience .company-name {
    color: var(--primary-color);
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vmin;
    align-items: center;
}

.skills img {
    width: 250px;
    height: 250px;
}

.skills figure {
    text-align: center;
}

.skills figcaption {
    color: var(--second-color);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vmin;
    color: var(--second-color);
}

.contact svg {
    width: 20px;
}


.contact .lists li {
    list-style: none;
}
