:root {
    --primary-color: #FEFBF6;
    --second-color: #cbdbec;
    --third-color: #00ABB3;
    --fourth-color: #B2B2B2;
    --fifth-color: #3C4048;
}

@font-face {
    font-family: Kanit;
    src: url("./fonts/Kanit-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fifth-color);
    font-family: Kanit, Helvetica, sans-serif;
    overflow-x: hidden;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    color: var(--primary-color);
}

header li {
    list-style: none;
    font-size: 18px;
}

header a:link {
    text-decoration: none;
    color: var(--primary-color);
}

header a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

header a:hover {
    text-decoration: none;
    color: var(--second-color);
}

header a:active {
    text-decoration: none;
    color: var(--primary-color);
}

.hide {
    transform: translateX(-400%);
    transition: transform 1s ease;
}

.hide.show {
    transform: translateX(0);
}

.intro, .description, .skills, .contact, .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    height: 90vh;
    color: var(--second-color);
    font-size: 60px;
}

.intro #logo {
    margin-bottom: -20px;
    font-size: 180px;
    font-weight: 700;
    color: var(--third-color);
}

.description {
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    color: var(--second-color);
    font-size: 18px;
}

.description .desc-title {
    font-size: 25px;
    color: var(--third-color);
    padding-bottom: 10px;
}

.experience {
    flex-direction: row;
    height: 100vh;
    color: var(--third-color);
    font-size: 20px;
}

.experience table {
    width: 60%;
    height: 200px;
    text-align: center;
}

.experience th {
    font-size: 30px;
}

.experience td {
    color: var(--second-color);
}

.experience .company-name {
    color: var(--primary-color);
}

.skills {
    height: 100vh;
}

.skills p {
    color: var(--third-color);
    font-size: 25px;
    padding-bottom: 20px;
}

.skills .figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills img {
    width: 15vw;
    height: 15vw;
    min-width: 150px;
    min-height: 150px;
}

.skills figure {
    text-align: center;
    padding: 10px;
}

.skills figcaption {
    color: var(--second-color);
}

.figures .exp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.figures .exp .index {
    font-size: 15px;
    padding-left: 2px;
    padding-bottom: 0;
}

/*adding the skill level to each figure*/

.figures .html-figure .attribute {
    width: 60px;
    height: 5px;
    background-color: var(--third-color);
}

.figures .html-figure .total {
    width: 40px;
    height: 5px;
    background-color: var(--fourth-color);
}

.figures .css-figure .attribute {
    width: 60px;
    height: 5px;
    background-color: var(--third-color);
}

.figures .css-figure .total {
    width: 40px;
    height: 5px;
    background-color: var(--fourth-color);
}

.figures .js-figure .attribute {
    width: 50px;
    height: 5px;
    background-color: var(--third-color);
}

.figures .js-figure .total {
    width: 50px;
    height: 5px;
    background-color: var(--fourth-color);
}

.figures .php-figure .attribute {
    width: 30px;
    height: 5px;
    background-color: var(--third-color);
}

.figures .php-figure .total {
    width: 70px;
    height: 5px;
    background-color: var(--fourth-color);
}

.contact {
    height: 100vh;
    color: var(--second-color);
}

.contact p {
    color: var(--third-color);
    font-size: 25px;
}

.contact .lists {
    display: flex;
}

.contact .lists li {
    list-style: none;
}

.contact .images img {
    width: 30px;
    height: 30px;
}

.contact .images {
    padding-right: 10px;
}

.contact .types {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-color);
    height: 100vh;
}

.contact-form input {
    width: 300px;
    height: 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.contact-form .first-last input {
    width: 150px;
}

.contact-form .first-last label {
    margin-right: 73px;
}

.contact-form #message {
    height: 90px;
}

.contact-form #submit {
    margin-top: 20px;
    background-color: var(--fourth-color);
}

input[type=submit] {
    color: var(--fifth-color);
    font-size: 16px;
    font-family: Kanit;
}

.contact-form #submit:hover {
    background-color: var(--fifth-color);
    transition: ease 0.2s;
}

input[type=submit]:hover {
    color: var(--primary-color);
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    background-color: #505358;
    position: fixed;
    bottom: 70%;
    right: 32px;
    width: 40px;
    height: 170px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.navigation-bar.active {
    opacity: 1;
    pointer-events: auto;
    bottom: 35%;
}

.navigation-bar a {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--third-color);
}

.navigation-bar a:link {
    text-decoration: none;
    color: var(--primary-color);
}

.navigation-bar a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

.navigation-bar a:hover {
    text-decoration: none;
    color: var(--second-color);
}

.navigation-bar a:active {
    text-decoration: none;
    color: var(--primary-color);
}